<html>
<head>
    <title>Go Snippets Classification</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<style>
  .btn-margin-bottom { margin-bottom: 0.6rem; }
</style>
</head>
<body>

<div class="container">
    <h1><a href="/">Go Snippets Classification</a></h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div style="background-color: limegreen; color: white; padding: .5rem;">
        <div class="container">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <hr />
    <div style="padding-top: 1rem;"></div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
